$duration: ".15s";
$main-color: #064e87;

header.navbar {
    background-color: $main-color;
    color: #fff;

    -webkit-transition: all #{$duration} linear;
	-moz-transition: all #{$duration} linear;
	-o-transition: all #{$duration} linear;
	transition: all #{$duration} linear;

    border-bottom: 1px solid #2e3D54;

    /*-webkit-box-shadow: 0px 1px 13px 0px rgba(50,50,50,0.75);
    -moz-box-shadow: 0px 1px 13px 0px rgba(50,50,50,0.75);
    box-shadow: 0px 1px 13px 0px rgba(50,50,50,0.75);*/

    .navbar-header button .icon-bar {
        background-color: #fff;
    }

    a {
        color: #fff;

        &:hover {
            background-color: darken($main-color, 10%);
        }

        &:focus {
            background-color: darken($main-color, 15%);
        }
    }

    .open a {
        &:hover {
            background-color: darken($main-color, 10%);
        }

        &:focus {
            background-color: darken($main-color, 15%);
        }
    }

    ul.dropdown-menu {
        a {
            color: #333;

            &:hover {
                background-color: #f5f5f5;
            }

            &:focus {
                background-color: #f5f5f5;
            }
        }
    }
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: darken($main-color, 10%);
}