@import url("https://fonts.googleapis.com/css?family=Roboto:200,400,300,500,700");

/*html, body {
    height: 100%;
}*/

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    font-size: 12px;
    color: rgba(0,0,0,.87);
    margin-top: 75px;
}

.wrapper {
    width: 100%;
    overflow-x: hidden;
}

.page-wrapper {
    background-color: #f3f3f4;

}

@import "_nav.scss";


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f3f3f4;
  border-top: 1px solid #e7eaec;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
